#
# KUnit base configuration
#

menu "KUnit support"

config KUNIT
	bool "Enable support for unit tests (KUnit)"
	help
	  Enables support for kernel unit tests (KUnit), a lightweight unit
	  testing and mocking framework for the Linux kernel. These tests are
	  able to be run locally on a developer's workstation without a VM or
	  special hardware. For more information, please see
	  Documentation/kunit/

config KUNIT_TEST
	bool "KUnit test for KUnit"
	depends on KUNIT
	help
	  Enables KUnit test to test KUnit.

config KUNIT_EXAMPLE_TEST
	bool "Example test for KUnit"
	depends on KUNIT
	help
	  Enables example KUnit test to demo features of KUnit.

endmenu
