config INTERCONNECT_QCOM
	bool "Qualcomm Network-on-Chip interconnect drivers"
	depends on ARCH_QCOM
	help
	  Support for Qualcomm's Network-on-Chip interconnect hardware.

config INTERCONNECT_QCOM_SMD_RPM
	tristate "Qualcomm SMD RPM interconnect driver"
	depends on INTERCONNECT_QCOM
	depends on QCOM_SMD_RPM
	help
	  This is a driver for communicating interconnect related configuration
	  details with a remote processor (RPM) on Qualcomm platforms.

config INTERCONNECT_QCOM_MSM8916
	tristate "Qualcomm MSM8916 interconnect driver"
	depends on INTERCONNECT_QCOM
	depends on QCOM_SMD_RPM
	select INTERCONNECT_QCOM_SMD_RPM
	help
	  This is a driver for the Qualcomm Network-on-Chip on msm8916-based
	  platforms.
